
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img src="assets/img/logo.jpg" width=80 height=60>   
        <span>Bit-Atom Reminder <mat-icon>date_range</mat-icon></span>
        <span class="example-container"></span>
             
             <button href="#" mat-button>
                 <mat-icon>home</mat-icon>
                 Inicio
             </button>
             <button href="#" mat-button>
                 <mat-icon>add_circle_outline</mat-icon>
                 Cadastros   
             </button>
             <button href="#" mat-button>
                <mat-icon>assignment</mat-icon>
                Minhas Terapias
            </button>
            <button href="#" mat-button>
                <mat-icon>local_hospital</mat-icon>
                Medicos
            </button>
            <button href="#" mat-button>
                <mat-icon>account_circle</mat-icon>
                Meu Perfil
            </button>

             <button type="button" name="action" (click)="sair()" mat-button>
                 <mat-icon>login</mat-icon>
                Sair
                </button>
               
      </mat-toolbar-row>

