<app-toolbar></app-toolbar>


<mat-card class="mat-card-content">
<ng-form>
  <mat-card-title>Login</mat-card-title>

  <mat-form-field class="mat-form-field">
    <input type="text" matInput placeholder="Email" formControlName="email" />

  </mat-form-field>


  <mat-form-field class="mat-card-content">
    <input type="password" matInput placeholder="Senha" formControlName="senha" />

  </mat-form-field>

  <div class="button">
    <button mat-button color="accent" routerLink="/cadastro" routerLinkActive="active">Cadastrar-se</button>
  <button class="button" type="submit" routerLink="/home" routerLinkActive="active" name="action" (click)="fazerLogin()" mat-button color="primary">Login
  </button>
  </div>

</ng-form>
</mat-card>

