
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/img/logo.jpg" width=80 height=60>
    <span>Bit-Atom Reminder <mat-icon>date_range</mat-icon></span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card class="ajuste-content">
<ng-form>
  <mat-card-title>Login</mat-card-title>

  <mat-form-field class="mat-card-content">
    <input type="text" matInput placeholder="Email" formControlName="email" />

  </mat-form-field>


  <mat-form-field class="mat-card-content">
    <input type="password" matInput placeholder="Senha" formControlName="senha" />

  </mat-form-field>

  <div class="button">
    <button class="button" name="action" mat-button color="accent">Cadastrar-se
    </button>
  <button class="button" type="submit" name="action" (click)="fazerLogin()" mat-button color="primary">Login
  </button>
  </div>

</ng-form>
</mat-card>
