<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-form-field class="mat-card-content">
    <input type="text" matInput placeholder="Email" formControlName="email" />

  </mat-form-field>


  <mat-form-field class="mat-card-content">
    <input type="password" matInput placeholder="Senha" formControlName="senha" />

  </mat-form-field>
  <button class="button" type="submit" name="action" (click)="fazerLogin()" mat-raised-button color="primary">Login
  </button>
  <br>
  <button class="button" name="action" mat-raised-button color="primary">Cadastrar-se
  </button>



  <p *ngIf="error" class="error">
    {{ error }}
  </p>

</mat-card>