
<app-toolbar></app-toolbar>

<h1>Cadastro Paciente</h1>
<mat-card class="ajuste-content">
  <form (ngSubmit)="salvar()" #pacienteForm="ngForm" >
  <mat-form-field class="mat-form-field">
    <input type="text" matInput placeholder="Nome" name="nome" id="nome" ngModel  />

  </mat-form-field>
<br>
  <mat-form-field class="mat-card-content">
    <input type="text" matInput placeholder="Sexo" name="sexo" id="sexo" ngModel  />

  </mat-form-field>
<br>
  <mat-form-field class="mat-card-content">
    <input type="date" matInput placeholder="Data de nascimento" name="dataNascimento" id="dataNascimento" ngModel  />

  </mat-form-field>
<br>
  <mat-form-field class="mat-card-content">
    <input type="email" matInput placeholder="Email" name="email" id="email" ngModel  />

  </mat-form-field>
<br>
  <mat-form-field class="mat-card-content">
    <input type="password" matInput placeholder="Senha" name="senha" id="senha" ngModel  />

  </mat-form-field>
<br>
  <mat-form-field class="mat-card-content">
    <input type="password" matInput placeholder="Confirmar Senha" name="confirmarSenha" id="confirmarSenha" ngModel  />

  </mat-form-field>
<br>

<div class="example-button-row">
  <button mat-button color="warn" routerLink="" routerLinkActive="active">Cancelar</button>
  <button  mat-button color="primary" type="submit">Salvar</button>
</div>

</form>
</mat-card>

