<app-toolbar-completa></app-toolbar-completa>



<h1>Cadastro Médico</h1>
<mat-card class="ajuste-content">
<form (ngSubmit)="salvar()" #medicoForm >
<br>
<label>
  Nome:
  <input type="text" id="nome" name="nome" ngModel required >
</label>
<br>
<div class="example-button-row">
  <button mat-button color="warn" routerLink="/home" routerLinkActive="active">Cancelar</button>
  <button mat-button color="primary" routerLink="/meusMedicos" routerLinkActive="active" [disabled]="medicoForm.valid">Salvar</button>
</div>
  <pre>{{medicoForm.valid}}</pre>
</form>
</mat-card>

