<app-toolbar-completa></app-toolbar-completa>


<h1>Cadastro Terapia</h1>
<mat-card class="ajuste-content">

  <ng-form >
    <mat-form-field class="mat-form-field">
      <input type="text" matInput placeholder="Nome" formControlName="nome" />
    </mat-form-field>
<br>
    <mat-form-field class="mat-form-field">
      <input type="date" matInput placeholder="Data Comeco" formControlName="dataComeco" />

    </mat-form-field>
<br>
    <mat-form-field class="mat-form-field">
      <input type="date" matInput placeholder="Data fim" formControlName="dataFim" />

    </mat-form-field>
<br>
<br>
    <mat-form-field class="mat-form-field">
      <input type="text" matInput placeholder="Medicamento" formControlName="medicamentoUm" />

    </mat-form-field>
<br>
    <mat-form-field class="mat-form-field">
      <input type="number" matInput placeholder="Dose" formControlName="doseUm" />

    </mat-form-field>
<br>
    <mat-form-field class="mat-form-field">
      <input type="time" matInput placeholder="Intervalo" formControlName="intervaloUm" />

    </mat-form-field>
<br>
    <mat-form-field class="mat-form-field">
      <input type="text" matInput placeholder="Medicamento" formControlName="medicamentoDois" />

    </mat-form-field>
<br>
    <mat-form-field class="mat-form-field">
      <input type="number" matInput placeholder="Dose" formControlName="doseDois" />

    </mat-form-field>
    <br>
    <mat-form-field class="mat-form-field">
      <input type="time" matInput placeholder="Intervalo" formControlName="intervaloDois" />

    </mat-form-field>

    <br>
    <mat-form-field class="mat-form-field">
      <input type="text" matInput placeholder="Medicamento" formControlName="medicamentoDois" />

    </mat-form-field>
    <br>
    <mat-form-field class="mat-form-field">
      <input type="number" matInput placeholder="Dose" formControlName="doseDois" />

    </mat-form-field>
    <br>
    <mat-form-field class="mat-form-field">
      <input type="time" matInput placeholder="Intervalo" formControlName="intervaloDois" />

    </mat-form-field>
    <br>
    <mat-form-field class="mat-form-field">
      <input type="text" matInput placeholder="Medico" formControlName="medico" />

    </mat-form-field>
<br>
<div class="example-button-row">
  <button mat-button color="warn" routerLink="/home" routerLinkActive="active">Cancelar</button>
  <button mat-button color="primary" routerLink="/minhasTerapias" routerLinkActive="active">Salvar</button>
</div>
  </ng-form>
</mat-card>
